

.make-relative{
  position: relative;
}
.make-flex{
  display: flex;
}

.m100 {
  margin: 100px;
}
.options-panel {
    border: 1px solid #dedede;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 1;
    background: #fff;
}
.options-panel-item{
  padding: 10px;
  cursor: pointer;
}
.options-panel-item:hover{
  background-color: #9ecff9;;
}
.input-control{
  display: flex;
  flex: 1;
}
.input-control input{
  border: none;
  padding: 8px;
  font-size: 14px;
  flex: 1;
}
.input-control input:focus{
  outline: none;
}

.selected-item{
  display: inline-block;
  padding: 5px;
  background: #ccc;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 14px;
}
.autocomplete-wrapper{
  display: flex;
  border: 1px solid #dedede;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
}
.autocomplete-wrapper:hover {
  border-color:#fb0000;
}

.autocomplete-input-section{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  font-size:14px;
}

.f12 {
  font-size: 12px;
}

.m12 {
    margin-right: 12px;
}

.option-panel-msg {
  left: 40%;
  position: relative;
  padding: 1%;
  color: #757575;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.remove-selected-option:hover {
  background-color: #FFBDAD;
  color: #DE350B;
}

.clear-all {
  text-transform: uppercase;
  color: #ea3e3e;
  font-weight: 600;
} 

